<mat-paginator
    [length]="filteredData?.length" 
    [pageSize]="pageSize"
    (page)="getPaginatorData($event)" 
    [pageSizeOptions]="pageSizeOptions">
</mat-paginator>
<mat-form-field>
    <input matInput 
        class="searchTerm" 
        type="text" 
        name="searchTerm" 
        placeholder="Filter by name"
        [(ngModel)]="searchTerm" 
        (input)="search(searchTerm)" />
</mat-form-field>
<button mat-button (click)="openModal('create', type)" >
    <mat-icon>add</mat-icon> 
    <span>
        Create new {{ type === TypeEnum.users ? 'User' : 'Learning' }}
    </span>
</button>
<div *ngIf="data">
    <div *ngFor="let item of ((filteredData | slice: lowValue : highValue) | searchFilter: searchTerm)">
        <mat-card class="feed-card slow-feed">
            <mat-card-header 
                *ngIf="type === TypeEnum.users; else learnings">
                <div mat-card-avatar 
                    *ngIf="item?.avatar" 
                    [ngStyle]="{'background-image': 'url(' + getAvatar(item) + ')'}" 
                    class="feed-header-image">
                </div>
                    <mat-card-title class="title">
                        {{ item?.name}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{ item?.email}}
                    </mat-card-subtitle>
            </mat-card-header>
            <ng-template #learnings>
                <mat-card-header>
                    <mat-card-title class="title">
                        {{ item?.name}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{ item?.active ? 'ACTIVE' : 'ARCHIVED'}}
                    </mat-card-subtitle>
                </mat-card-header>
            </ng-template>
            <mat-card-actions class="action-buttons" 
                *ngIf="type === TypeEnum.users; else learningActions">
                <button mat-button color="primary"
                    *ngIf="item?.learnings?.length > 0"
                    (click)="openModal('displayLearnings', item)">
                    <mat-icon>school</mat-icon> 
                    <span> 
                        Show Learnings
                    </span>
                </button>
                <button mat-button 
                    (click)="openModal('removeUser', item)" 
                    color="warn">
                    <mat-icon>clear</mat-icon> 
                    <span>
                        Remove from List
                    </span>
                </button>
            </mat-card-actions>
            <ng-template #learningActions>
                <mat-card-actions class="action-buttons">
                    <button mat-button 
                        (click)="openModal('removeLearning', item)" 
                        color="warn">
                        <mat-icon>clear</mat-icon> 
                        <span>
                            Remove from List
                        </span>
                    </button>
                    <button mat-button color="primary"
                        (click)="openModal('assignUsers', item)">
                        <mat-icon>school</mat-icon> 
                        <span> 
                            Assign to User
                        </span>
                    </button>
                    <mat-slide-toggle [(ngModel)]="item.active"
                        (change)="updateItem(item)">
                        Active
                    </mat-slide-toggle>
                </mat-card-actions>
            </ng-template>
        </mat-card>
    </div>
</div>

<ngx-smart-modal #create identifier="create">
    <create-user-form *ngIf="create.getData() !== TypeEnum.learnings"></create-user-form>
    <create-learning-form *ngIf="create.getData() === TypeEnum.learnings"></create-learning-form>
</ngx-smart-modal>