<div *ngIf="learnings">
    <list [data]="learnings"
    [type]="TypeEnum.learnings">
    </list>
</div>

<mat-card class="feed-card slow-feed" *ngIf="!learnings">
    <mat-card-content>
        <p class="empty-feed">
        No learnings to show
        </p>
    </mat-card-content>
</mat-card>

<ngx-smart-modal #removeLearning identifier="removeLearning">
    <h1>Are you sure you want to remove this learning? {{removeLearning.getData()?.id}}</h1>
    <button mat-button (click)="removeLearning.close()">Cancel</button>
    <button mat-button color="warn" (click)="delete(removeLearning.getData()); removeLearning.close()">Remove</button>
</ngx-smart-modal>

