<div *ngIf="users">
    <list [data]="users"></list>
</div>

<mat-card class="feed-card slow-feed" *ngIf="!users">
    <mat-card-content>
        <p class="empty-feed">
        No user to show
        </p>
    </mat-card-content>
</mat-card>

<ngx-smart-modal #removeUser identifier="removeUser">
    <h1>Are you sure you want to remove this user?</h1>
    <button mat-button (click)="removeUser.close()">Cancel</button>
    <button mat-button color="warn" (click)="delete(removeUser.getData()); removeUser.close()">Remove</button>
</ngx-smart-modal>

<ngx-smart-modal #displayLearnings identifier="displayLearnings">
    <h1>Learnings assigned to this user:</h1>
</ngx-smart-modal>

